<section>
        <div class="container mt-5">
        <div class="row">
            {{#each products}}
            <div class="col-md-3 p-4">
                <div class="card" style="width: 15rem; height:25 rem">
  <img class="card-img-top" src="/product-images/{{this._id}}.jpg">
  <div class="card-body">
    <h5 class="card-title">{{this.Name}}</h5>
    <p class="card-text">Rs.{{this.Price}}</p>
    <p class="card-text">{{this.Description}}</p>
    
    <button onClick="addToCart('{{this._id}}')" class="btn btn-primry">Add to cart</button>
  </div>
</div>
            </div>
            {{/each}}

        </div>
        </div>
        </section>
        <script>
          function addToCart(proId){
    $.ajax({
      url:'/addtoCart/'+proId,
      method:'get',
      success:(response)=>{
        alert(response)
      }
    })
  }
          
        </script>